---
import Layout from "./Layout.astro";
import { NavigationBarIsland } from "../components/layout/NavigationBarIsland.tsx";

interface Props {
  title?: string;
}

const { title = "Sisyflow" } = Astro.props;

const user = Astro.locals.user;

if (!user) {
  return Astro.redirect("/login");
}
---

<Layout title={title}>
  <NavigationBarIsland client:load />
  <main class="bg-gray-100 dark:bg-gray-950 flex-1" data-testid="authenticated-main-content">
    <slot />
  </main>
</Layout>
